@import 'material-symbols/rounded.css'	;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.overflow-y-scroll::-webkit-scrollbar {
  width: 0px; 
}
.overflow-x-scroll::-webkit-scrollbar {
  width: 0px; 
}
.fontPlaywrite {
  font-family: "Playwrite NG Modern", cursive;
}

@layer utilities {
  .setting {
    @apply bg-[#1b1c1d] leading-none w-fit px-4 py-3 rounded-lg flex items-center justify-center border border-[#2c2c2c]
  }
}

.tiptap h1 {
  @apply text-[2.75rem] font-bold leading-tight my-8
}

.tiptap h2 {
  @apply text-3xl font-bold leading-tight pt-8 border-b pb-4 border-gray-500/50
}

.tiptap h3 {
  @apply text-2xl font-bold leading-tight pt-10
}

.tiptap strong {
  @apply text-main font-semibold
}

.tiptap em {
  @apply italic
}

.tiptap p {
  @apply my-8 text-[18px] leading-relaxed text-main/80
}

.tiptap p a {
  @apply underline text-indigo-400 font-medium underline-offset-2 cursor-pointer
}

.tiptap blockquote {
  @apply border-l-2 border-main pl-6 py-2 bg-gray-400/5 rounded-r-md
}
.tiptap mark {
  @apply px-1 bg-indigo-400 rounded-sm text-main
}

.tiptap pre {
  @apply bg-gray-400/15 border border-gray-500/25 px-5 py-4 rounded-md text-[15px] text-main/80 my-4
}

.tiptap blockquote p {
  @apply my-2
}

.tiptap img {
  @apply rounded my-10
}

.tiptap ul p{
  @apply my-4 ml-4
}
.tiptap ul{
  @apply list-disc pl-4 my-6
}